{% extends 'admin_base.html.twig' %}

{% block title %}
  Modifier un utilisateur
{% endblock %}

{% block admin_content %}
  <div class="container-form my-5">
    <h2>Modifier un utilisateur</h2>
    {{ form_start(form) }}
      <div class="row gy-3 gx-2">
        <div class="col-md-6">
          {{ form_row(form.firstname) }}
        </div>
        
        <div class="col-md-6">
          {{ form_row(form.lastname) }}
        </div>
      </div>
      
      {{ form_row(form.email) }}

      <div class="row gy-3 gx-2">
        <div class="col-md-6">
          {{ form_row(form.company) }}
        </div>
        
        <div class="col-md-6">
          {{ form_row(form.jobTitle) }}
        </div>
      </div>
      
      {{ form_row(form.isAdmin) }}
      
      <div class="mt-4 text-end">
        <button type="submit" class="btn btn-primary">
          {{ button_label|default('Enregistrer') }}
        </button>
      </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
