{% extends 'admin_base.html.twig' %}

{% block title %}
  Gestions Utilisateurs
{% endblock %}

{% block admin_content %}
    <div class="table-responsive border rounded my-5">
      <table class="table table-striped mb-0">
        <thead class="table-bordered">
          <tr>
            <th>id</th>
            <th>lastname</th>
            <th>firstname</th>
            <th>email</th>
            <th>company</th>
            <th>job_title</th>
            <th>createdAt</th>
            <th>status</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.firstname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.company }}</td>
              <td>{{ user.jobTitle }}</td>
              <td>{{ user.createdAt|date('d-m-Y') }}</td>
              <td>
                <span class="badge text-bg-{{ user.statusColor}}">{{ user.statusLabel }}</span>
              </td>
              <td class="d-flex align-items-center gap-1">
                <a class="btn btn-primary" href="{{ path('app_admin_user_edit', { id: user.id }) }}">
                  <i class="fa-duotone fa-regular fa-pen-to-square"></i>
                    Modifier
                </a>
                {% include 'admin/user/_delete.html.twig' %}

                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <a class="btn btn-primary" href="{{ path('app_admin_user_approve', { id: user.id }) }}">
                    <i class="fa-duotone fa-regular fa-check fa-swap-opacity"></i>
                    Accepter
                  </a>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="{{ path('app_admin_user_reject', { id: user.id }) }}">
                          <i class="fa-duotone fa-regular fa-xmark fa-swap-opacity fa-fw"></i>
                          Rejeter
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="7" class="text-center">Aucun utilisateur</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
