{% extends 'admin_base.html.twig' %}
{% import "macros/fontawesome.html.twig" as fa %}

{% block title %}
  Newsletter index
{% endblock %}

{% block admin_content %}
  <div class="my-5">
    <div class="row align-items-end gap-2 mb-3">
        <div class="col-auto me-auto">
          <h2 class="h4 mb-0">Liste des newsletters</h2>
        </div>

        <div class="col-auto">
          <a href="{{ path('app_admin_newsletter_new') }}" class="btn btn-primary">
            {{ fa.icon('plus', swap_opacity: true) }}
            Ajouter
          </a>
        </div>
      </div>

    <div class="table-responsive border rounded">
      <table class="table table-striped mb-0">
        <thead class="table-bordered">
          <tr>
            <th>Id</th>
            <th>Object</th>
            <th>Body</th>
            <th>Cta</th>
            <th>CreatedAt</th>
            <th>SendAt</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          {% for newsletter in newsletters %}
            <tr>
              <td>{{ newsletter.id }}</td>
              <td>{{ newsletter.object }}</td>
              {% set words = newsletter.body|split(' ') %}
              {% set truncated_body = words|slice(0, 6)|join(' ') ~ ' ...' %}
              <td>{{ truncated_body }}</td>
              <td>{{ newsletter.cta }}</td>
              <td>{{ newsletter.createdAt ? newsletter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
              <td>{{ newsletter.sendAt ? newsletter.sendAt|date('Y-m-d H:i:s') : '' }}</td>
              <td>
                <div class="d-flex align-items-center gap-2">
                  <a class="link-primary" href="{{ path('app_admin_newsletter_send', { id: newsletter.id }) }}">
                    {{ fa.icon('paper-plane') }}
                  </a>
                  <a class="link-primary" href="{{ path('app_admin_newsletter_edit', { id: newsletter.id }) }}">
                    {{ fa.icon('pen-to-square') }}
                  </a>
                  <a class="link-primary" href="{{ path('app_admin_newsletter_show', { id: newsletter.id }) }}">
                    {{ fa.icon('circle-info') }}
                  </a>
                  {% include 'admin/newsletter/_delete.html.twig' %}
                </div>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="7">no records found</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
