{% extends 'mail_base.html.twig' %}

{% block title %}
  {{ userNewsletter.newsletter.object }}
{% endblock %}

{% block mail_content %}
  <div>
    <div class="container">
      <a href="{{ absolute_url(path('app_newsletter_show', { id: userNewsletter.id })) }}">Voir sur le web</a>
      <div>{{ userNewsletter.sentAt|date('d/m/Y') }}</div>
    </div>
    <h1>{{ userNewsletter.newsletter.object }}</h1>
    <div>{{ include(template_from_string(userNewsletter.newsletter.body))|markdown_to_html }}</div>
    <a href="#">{{ userNewsletter.newsletter.cta }}</a>
  </div>
{% endblock %}
