{% extends 'base.html.twig' %}

{% block title %}
  Elections
{% endblock %}

{% block body %}
  <div class="container my-5">
    {% if isClose %}
      <a href="{{ path('app_election_index') }}" class="btn btn-secondary">Élection en cours</a>
    {% else %}
      <a href="{{ path('app_election_close') }}" class="btn btn-secondary">Élection terminées</a>
    {% endif %}

    <div class="table-responsive border rounded my-3">
      <table class="table table-striped mb-0">
        <thead class="table-bordered">
          <tr>
            <th>JobTitle</th>
            <th>CreatedAt</th>
            <th>VoteStartAt</th>
            <th>VoteEndAt</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          {% for election in elections %}
            <tr>
              <td>{{ election.jobTitle }}</td>
              <td>{{ election.createdAt ? election.createdAt|date('d-m-Y') : '' }}</td>
              <td>{{ election.voteStartAt ? election.voteStartAt|date('d-m-Y') : '' }}</td>
              <td>{{ election.voteEndAt ? election.voteEndAt|date('d-m-Y') : '' }}</td>
              <td class="d-flex align-items-center gap-2">
                <a class="link-primary text-decoration-none" href="{{ path('app_candidate', { id: election.id }) }}">
                  <i class="fa-duotone fa-regular fa-user-plus"></i>
                  Candidater
                </a>
                <a class="link-primary" href="{{ path('app_election_show', { id: election.id }) }}"><i class="fa-duotone fa-regular fa-circle-info"></i></a>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="3">Aucune Élection</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
