{% extends 'base.html.twig' %}

{% block title %}
  Informations complémentaires
{% endblock %}

{% block body %}
  <div class="container">
    <div class="mx-auto" style="max-width: 24rem;">
      {{ form_start(form) }}
      {{ form_row(form.email) }}
      <div class="row">
        <div class="col-md-6">
          {{ form_row(form.firstname) }}
        </div>
        <div class="col-md-6">
          {{ form_row(form.lastname) }}
        </div>
      </div>
      {{ form_row(form.company) }}
      {{ form_row(form.jobTitle) }}
      {{ form_row(form.save) }}
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
