    {{ form_start(form) }}
    {{ form_row(form.jobTitle) }}
    <div class="row">
      <div class="col-md-6">{{ form_row(form.voteStartAt) }}</div>
      <div class="col-md-6">{{ form_row(form.voteEndAt) }}</div>
    </div>
    {{ form_end(form) }}
