{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    {{ form_start(form, { attr: { id: 'login-information-form', class: 'container mt-4' }}) }}
        {# email #}
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                {{ form_row(form.email, { 'attr': { 'class': 'form-control'} }) }}
            </div>
        </div>
        
        {# roles #}
        <div class="row mb-3">
            <div class="col-sm-12">
                {{ form_row(form.roles, { 'attr': { 'class': 'form-control'} }) }}
            </div>
        </div>
        
        {# password #}
        <div class="row mb-3">
            <div class="col-sm-12">
                {{ form_row(form.password, { 'attr': { 'class': 'form-control'} }) }}
            </div>
        </div>
        
        {# firstname #}
        <div class="row mb-3">
            <div class="col-sm-12">
                {{ form_row(form.firstname, { 'attr': { 'class': 'form-control'} }) }}
            </div>
        </div>
        
        {# lastname #}
        <div class="row mb-3">
            <div class="col-sm-12">
                {{ form_row(form.lastname, { 'attr': { 'class': 'form-control'} }) }}
            </div>
        </div>
        
        {# company #}
        <div class="row mb-3">
            <div class="col-sm-12">
                {{ form_row(form.company, { 'attr': { 'class': 'form-control'} }) }}
            </div>
        </div>
        
        {# job_title #}
        <div class="row mb-3">
            <div class="col-sm-12">
                {{ form_row(form.jobTitle, { 'attr': { 'class': 'form-control'} }) }}
            </div>
        </div>
        
        {# avatar #}
        <div class="row mb-3">
            <div class="col-sm-12">
                {{ form_row(form.avatar, { 'attr': { 'class': 'form-control'} }) }}
            </div>
        </div>
    {{ form_end(form) }}

    <button type="submit" form="login-information-form" class="btn btn-primary">{{ button_label| default('Save') }}</button>
    <a href="{{ path('app_home') }}">Home</a>

{% endblock %}
